{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title %}Gestion du profil{% endblock %}

{# Remplissage du body de la page #}
{% block body  %}

    {# Grille de Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">Gestion du profil</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row">

                    {# Bloc de gauche #}
                    <div class="col-12 col-md-3 bg-black px-2 py-3 text-center">

                        {# Image de profil #}
                        <div class="row">
                            <div class="col-10 mx-auto d-flex justify-content-center align-items-center">

                                <img class="img-thumbnail"  src="{{ asset('images/829.jpg') }}" alt="" >

                            </div>
                        </div>

                        {# Lien vers la page permettant de changer de photo de profil #}
                        <div class="row">
                            <div class="col-12 pt-3">
                                <a href="#">Modifier la photo de profil</a>
                            </div>
                        </div>

                    </div>

                    {# Bloc de droite #}
                    <div class="col-12 col-md-9 px-2 py-3 bg-dark d-flex justify-content-center align-items-center">

                        {# Infos du compte #}
                        <ul class="list-group col-12 col-md-8 p-0">
                            <li class="list-group-item bg-black text-white">Adresse Email : <span class="text-info">{{ app.user.email }}</span></li>
                            <li class="list-group-item bg-black text-white">Pseudonyme : <span class="text-info">{{ app.user.pseudonym }}</span></li>
                            <li class="list-group-item bg-black text-white">Date d'inscription : <span class="text-info">{{ app.user.registrationDate|date ('d/m/y à h\\hi') }}</span></li>
                            <li class="list-group-item bg-black text-white">
                                Compte :
                                <span class="text-info">{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Utilisateur' }}</span>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}